@charset "UTF-8";
#menu{
    height: 100px;
}
#menu ul{
    padding: 0;
    text-align:left;
}
#menu li{
    float:left;
    width: 500px;
    margin: 20px;
    background-color:bisque;
    padding: 10px;
}
.menu{
    float: left;
}
.time {
    float: right;
}

.fee{
    float: right;
}
.information{
    clear: both;
}